.crrnt-tooltip {
  top: 7px;
  left: 20px;
  position: absolute;
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
  background: #fff;
  color: #333;
  border: 1px solid #ccc;
  font-size: 0.8em;
  z-index: 1001; }

.crrnt-line {
  white-space: nowrap; }
