$default-font: 'Source Code Pro', Arial, Helvetica, sans-serif;
$base-font-size: 16px;
$base-line-height: 1.5;
$base-font-weight: 400;

$blue-med: #4A6F7F;
$blue-dark: #253840;
$green-med: #267F26;
$white: #fff;
$gray-med: #999;
$gray-light: #ccc;
$black: #000;

@import 'global';
