@import 'settings';

html, body {
	width: 100%;
}

body {
	margin: 0;
	background-color: $green-med;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: $white;
	font: $base-font-weight #{$base-font-size}/#{$base-line-height} $default-font;
}

.page {
	max-width: 80%;
	margin: 0 auto;
	text-align: center;
	position: relative;
	h1 {
		margin: 100px 0 0;
		font-size: 36px;
		font-weight: 600;
		line-height: 1;
		text-align: center;
		a {
			color: $white;
			border-bottom: 0;
		}
	}
	h2 {
		font-weight: 500;
		margin-bottom: 2em;
		a {
			border-bottom: 1px dotted #fff;
		}
	}
	p {
		border-collapse: separate;
		line-height: 1.8;
		.cite {
			font-size: .8em;
		}
	}
}

.crrnt-currency {
	background: $white;
	color: $green-med;
	padding: 5px 10px;
	border-radius: 3px;
	font-weight: 500;
}

.crrnt-tooltip {
	background: $gray-light;
	color: $green-med;
	border: 1px solid $gray-med;
}